*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#videos {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 2em;
    /* height: 100vh; */
    /* overflow: hidden; */
}

.video-player {
    background-color: black;
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
}
/* #user-2{
    display: none;
} */